{% load widget_tweaks %}

<form id="articleForm" action="" method="POST">
    {% csrf_token %}

    <div class="modal-header">
        <h5 class="modal-title">Nouveau Article</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div><!--End of header card-->

    <div class="modal-body">
        {% for field in form %}
            <div class="form-group row mb-2">
                <label class="col-sm-3 col-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="col-sm-9">

                    <div id="formErrors"></div>

                    {% if field.errors %}
                        {% render_field field class="form-control is-invalid invalid" placeholder=field.label %}
                        <div class="invalid-feedback">
                            {% for error in field.errors %}<span>{{ error }}</span>
                        </div>
                        {% endfor %}
                    {% else %}
                        {% render_field field class="form-control" placeholder=field.label %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div><!--End body modal-->

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-info">Create</button>
    </div><!--End of footer card-->
</form>
