{% extends "magasin/base.html" %}
{% load static %}
{% load fontawesome %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}Article Details{% endblock %}

{% block content %}
<div class="container">

    <div class="row">
        <!-- Search Article Form -->
        <form class="row row-cols-lg-auto align-items-center mb-2" action="" method="post">
            {% csrf_token %}
            <div class="col">
                <div class="input-group">
                    <div class="input-group-text"><i class="bi bi-search"></i></div>
                    {% render_field search_form.search_word placeholder="Code Article" %}
                </div>
            </div>

            <div class="col">
                <button type="submit" name="search_form" class="btn btn-outline-secondary search_btn">
                    {% fontawesome_icon 'search' %} Recherche
                </button>
            </div>
        </form>
    </div><!-- end of search form-->

    <div class="card mb-2">
        <!-- Success Messages-->
        {% for msg in messages %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

        <!-- Error Messages-->
        {% if entree_form.errors  %}
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% for field_with_error, error_messages in entree_form.errors.items %}
                    <span class="me-2">Entree non ajouter verifier: </span><span class="fw-bold">{{ field_with_error }}</span>
                {% endfor %}
            </div>
        {% endif %}

        {% if sortie_form.errors  %}
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% for field_with_error, error_messages in sortie_form.errors.items %}
                    <span class="me-2">Sortie non ajouter verifier :</span><span class="fw-bold">{{ field_with_error }}</span>
                {% endfor %}
            </div>
        {% endif %}

        {% if command_form.errors  %}
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% for field_with_error, error_messages in command_form.errors.items %}
                    <span class="me-2">Sortie non ajouter verifier :</span><span class="fw-bold">{{ field_with_error }}</span>
                {% endfor %}
            </div>
        {% endif %}

        <div class="row card-body">
            <!-- =============================| ARTICLE DETAILS |=================================================-->
            <div class="col col-md-6 {% if request.user.profile.groupe != 'admin' %}art_detail_not_admin{% endif %}">
                <h4 class="p-3 text-center">Fiche de Stock Article N°: {{ article.art_id }}</h5>
                <hr>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="list_title">Code</span><span>: {{ article.code }}</span>
                    </li>
                    <li class="list-group-item">
                        <span class="list_title">Designation</span><span>: {{ article.designation }}</span>
                    </li>
                    <li class="list-group-item">
                        <span class="list_title">Reference</span><span>: {{ article.ref }}</span>
                    </li>
                    <li class="list-group-item">
                        <span class="list_title">Emplacement</span><span>: {{ article.emp }}</span>
                    </li>

                    <li class="list-group-item">
                        <span class="list_title">Quantité</span>
                        <span class="{% if article.qte == 0 %}text-danger fw-bold{% endif %}">
                            : {{ article.qte }} {{ article.umesure }}
                        </span>
                    </li>

                    <li class="list-group-item">
                        <span class="list_title">Prix Unitaire</span><span>: {{ article.prix|intcomma }} DA</span>
                    </li>

                    <li class="list-group-item">
                        <span class="list_title">Valeur</span><span>: {{ article.valeur|intcomma }} DA</span>
                    </li>

                    <li class="list-group-item">
                        <span class="list_title">Observation</span>
                        <span>: {% if article.observation %}{{ article.observation }}{% else %}RAS{% endif %}</span>
                    </li>

                </ul>
            </div><!-- End of col-md-6 -->

            {% if request.user.profile.groupe == 'admin' %}
            <!-- =======================| 
            =   TABS: 
                MOVEMENT / MODIFICATION / ENTREE / SORTIE 
            |==========================-->
            <div class="col-md-6 col_art_operation">
                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="movement-tab" data-bs-toggle="tab" data-bs-target="#movement" type="button" 
                                role="tab" aria-controls="sortie" aria-selected="false">Movement
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="modifier-tab" data-bs-toggle="tab" data-bs-target="#modifier" type="button"
                                role="tab" aria-controls="modifier" aria-selected="true">Modifier
                        </button>
                    </li>
                  
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="entree-tab" data-bs-toggle="tab" data-bs-target="#entree" type="button" 
                                role="tab" aria-controls="entree" aria-selected="false">Entree
                        </button>
                    </li>
                  
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="sortie-tab" data-bs-toggle="tab" data-bs-target="#sortie" type="button" 
                                role="tab" aria-controls="sortie" aria-selected="false">Sortie
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="commend-tab" data-bs-toggle="tab" data-bs-target="#command" type="button" 
                                role="tab" aria-controls="command" aria-selected="false">Commands
                        </button>
                    </li>
                </ul>


                <!-- ========================| 
                    MOVEMENT TAB 
                |============================ -->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active tab_content" id="movement" role="tabpanel" aria-labelledby="movement-tab">
                        <h5 class="text-center alert alert-secondary">Article Movement</h5>
                        {% if article_mov == "empty" %}
                            <p class="p-3">- Pas de Movement Pour Cette Article.</p>
                        {% else %}
                        <table class="table table-bordered table-hover text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">User</th>
                                    <th scope="col">Opération</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Qte</th>
                                    <th scope="col">Prix-U</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for mov_art in article_mov %}
                                <tr>
                                    <td>{{ mov_art.movement_date|date:"d M Y" }}</td>
                                    <td>{{ mov_art.user_id.username }}</td>

                                    {% if mov_art.movement == 'Sortie' %}
                                        <td class="text-danger">{{ mov_art.movement }}</td>
                                    {% elif mov_art.movement == 'Entree'%}
                                        <td class="text-primary">{{ mov_art.movement }}</td>
                                    {% endif %}
                                    <td>
                                        <a href="{% url "magasin:movement_article" mov_art.art_id.art_id %}">{{ mov_art.art_id.code }}</a>
                                    </td>
                                    <td>{{ mov_art.qte }}</td>
                                    <td>{{ mov_art.prix }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div><!-- end of movement tab -->

                    <!-- ================================================| 
                        MODIFICATION FORM 
                    |=================================================-->
                    <div class="tab-pane tab_content fade" id="modifier" role="tabpanel" aria-labelledby="modifier-tab">
                        <h5 class="alert alert-success text-center">Modification Article</h5>
                        <form action="" method="POST">
                            {% csrf_token %}
                            {% for field in update_art_form %}
                                {% if field == update_art_form.category %}

                                <div class="form-group row mb-2">
                                    <label class="col-sm-4 col-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    <div class="col-sm-8">
                                        {% if field.errors %}
                                            {% render_field field class+="is-invalid" %}
                                            <div class="invalid-feedback">
                                                {% for error in field.errors %}<span>{{ error }}</span>{% endfor %}
                                            </div>
                                        {% else %}
                                            {% render_field field %}
                                        {% endif %}
                                    </div>
                                </div>

                                {% else %}

                                <div class="form-group row mb-2">
                                    <label class="col-sm-4 col-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    <div class="col-sm-8">
                                        {% if field.errors %}
                                            {% render_field field class="form-control is-invalid" %}
                                            <div class="invalid-feedback">
                                                {% for error in field.errors %}<span>{{ error }}</span>{% endfor %}
                                            </div>
                                        {% else %}
                                            {% render_field field class="form-control" %}
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}

                            {% endfor %}
                            <button type="submit" name="update_art" class="submit-btn btn btn-outline-success float-end">
                                {% fontawesome_icon 'edit' %} Modifier
                            </button>
                        </form>
                    </div><!-- end of modify tab -->

                    <!-- =============================| ENTREE FORM |============================================-->
                    <div class="tab-pane tab_content fade" id="entree" role="tabpanel" aria-labelledby="entree-tab">
                        <h5 class="alert alert-primary text-center">Nouvelle Entree</h5>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group row mb-2">
                                <label class="col-sm-3 col-form-label" for="{{ entree_form.entree_date.id_for_label }}">
                                    Date
                                </label>
                                <div class="col-sm-9">
                                    <div class="row date_row">
                                        {% if entrie_form.entree_date.errors %}
                                            {% render_field entree_form.entree_date class+="invalid" %}
                                            {% for error in entree_form.entree_date.errors %}
                                                <div class="invalid-feedback"><span>{{ error }}</span></div>
                                            {% endfor %}

                                        {% else %}
                                            {% render_field entree_form.entree_date %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <label class="col-sm-3 col-form-label" for="{{ entree_form.qte.id_for_label }}">Qte</label>
                                <div class="col-sm-9">
                                    {% if entree_form.qte.errors %}
                                        {% render_field entree_form.qte class="form-control is-invalid" value=1 %}
                                        {% for error in entree_form.qte.errors %}
                                            <div class="invalid-feedback"><span>{{ error }}</span></div>
                                        {% endfor %}
                                    {% else %}
                                        {% render_field entree_form.qte class="form-control" value=1 %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <label class="col-sm-3 col-form-label" for="{{ entree_form.prix.id_for_label }}">Prix</label>
                                <div class="col-sm-9">
                                    {% if entree_form.prix.errors %}
                                        {% render_field entree_form.prix class="form-control is-invalid" value=1 %}
                                        {% for error in entree_form.prix.errors %}
                                            <div class="invalid-feedback"><span>{{ error }}</span></div>
                                        {% endfor %}
                                    {% else %}
                                        {% render_field entree_form.prix class="form-control" value=article.prix %}
                                    {% endif %}
                                </div>
                            </div>
                            <button type="submit" name="entree_form" class="btn btn-outline-primary float-end">
                                {% fontawesome_icon 'plus-square' %} Entree
                            </button>
                        </form>
                    </div><!-- end of entree tab -->

                    <!-- =============================| SORTIE FORM |============================================-->
                    <div class="tab-pane tab_content fade" id="sortie" role="tabpanel" aria-labelledby="contact-tab">
                        <h5 class="text-center alert alert-danger">Nouvelle Sortie</h5>
                        <form action="" method="POST">
                            {% csrf_token %}

                            <div class="form-group row mb-2" style="display: none;">
                                <div class="col-sm-9">
                                    {% render_field sortie_form.slug|append_attr:"readonly:readonly" value=article.slug %}
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <label class="col-sm-3 col-form-label" for="{{ sortie_form.sortie_date.id_for_label }}">
                                    Date
                                </label>
                                <div class="col-sm-9">
                                    <div class="row date_row">
                                        {% if sortie_form.sortie_date.errors %}
                                            {% render_field sortie_form.sortie_date class+="is-invalid" %}
                                            {% for error in sortie_form.sortie_date.errors %}
                                                <div class="invalid-feedback"><span>{{ error }}</span></div>
                                            {% endfor %}

                                        {% else %}
                                            {% render_field sortie_form.sortie_date %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <label class="col-sm-3 col-form-label" for="{{ sortie_form.sortie_qte.id_for_label }}">Qte</label>
                                <div class="col-sm-9">
                                    {% if sortie_form.sortie_qte.errors %}
                                        {% render_field sortie_form.sortie_qte class+="is-invalid" value=1 %}
                                        {% for error in sortie_form.sortie_qte.errors %}
                                            <div class="invalid-feedback"><span>{{ error }}</span></div>
                                        {% endfor %}
                                    {% else %}
                                        {% render_field sortie_form.sortie_qte value=1 %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <label class="col-sm-3 col-form-label" for="{{ sortie_form.sortie_prix.id_for_label }}">Prix</label>
                                <div class="col-sm-9">
                                    {% render_field sortie_form.sortie_prix|append_attr:"readonly:readonly" value=article.prix %}
                                </div>
                            </div>
                            <button type="submit" name="sortie_form" class="btn btn-outline-danger float-end">
                                {% fontawesome_icon 'minus-square' %} Sortie
                            </button>
                        </form>
                    </div><!-- end of sorite tab -->

                    <!-- =============================| Command FORM |============================================-->
                    <div class="tab-pane tab_content fade" id="command" role="tabpanel" aria-labelledby="command-tab">
                        <h5 class="text-center alert alert-info">Commands</h5>

                        {% if art_cmd == "empty" %}
                            <p class="p-3">- Pas de Command Pour Cette Article.</p>
                        {% else %}
                        <table class="table table-bordered table-hover text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">User</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Qte</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for cmd_art in art_cmd %}
                                <tr>
                                    <td>{{ cmd_art.command_date|date:"d M Y" }}</td>
                                    <td>{{ cmd_art.user_id.username }}</td>
                                    <td>{{ cmd_art.art_id.code }}</td>
                                    <td>{{ cmd_art.qte }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}

                        <a data-bs-toggle="collapse" href="#command-form" role="button" aria-expanded="false" 
                           aria-controls="comman-form">N. Commande <i class="fa fa-plus-square"></i>
                        </a>
                        <form action="" method="POST" class="collapse" id="command-form" data-form="command_form">
                            <hr>
                            {% csrf_token %}
                            <div class="form-group row mb-2">
                                <label class="col-sm-3 col-form-label" for="{{ command_form.cmnd_date.id_for_label }}">Date</label>
                                <div class="col-sm-9">
                                    <div class="row date_row">
                                        {% if command_form.cmnd_date.errors %}
                                            {% render_field command_form.cmnd_date class+="col is-invalid" %}
                                            {% for error in command_form.cmnd_date.errors %}
                                                <div class="invalid-feedback"><span>{{ error }}</span></div>
                                            {% endfor %}

                                        {% else %}
                                            {% render_field command_form.cmnd_date class+="col" %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <label class="col-sm-3 col-form-label" for="{{ command_form.cmnd_qte.id_for_label }}">Qte</label>
                                <div class="col-sm-9">
                                    {% if command_form.cmnd_qte.errors %}
                                        {% render_field command_form.cmnd_qte class+="is-invalid" %}
                                        {% for error in command_form.cmnd_qte.errors %}
                                            <div class="invalid-feedback"><span>{{ error }}</span></div>
                                        {% endfor %}
                                    {% else %}
                                        {% render_field command_form.cmnd_qte value=1 %}
                                    {% endif %}
                                </div>
                            </div>

                            <button type="submit" name="cmnd_form" class="btn btn-outline-info float-end">
                                {% fontawesome_icon 'plus-square' %} Enregistre
                            </button>
                        </form>
                    </div><!-- end of command tab -->

                </div><!-- end of TABS content -->

                <!-- ===================================| BUTTONS |============================================ -->
                <div class="text-center mt-2">
                    {% if history %}
                        <a href="{% url "magasin:magasin_log_article" article.art_id %}" class="btn btn-warning">
                            {% fontawesome_icon 'history' %} Hist
                        </a>
                    {% endif %}
                </div><!-- end of btn groupe-->

            </div><!--end of col entree/sortie -->
            {% endif %} <!-- End of check if user == admin -->

        </div><!--End of card body-->
    </div><!--End of card-->
</div><!-- end of container -->
{% endblock %}
