{% extends "magasin/base.html" %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}Article Details{% endblock %}

{% block content %}
<div class="container">

    <div class="row">
        <!-- Search Article Form -->
        <form class="row row-cols-lg-auto align-items-center mb-2" action="" method="post">
            {% csrf_token %}
            <div class="col">
                <div class="input-group">
                    <div class="input-group-text"><i class="bi bi-search"></i></div>
                    {% render_field search_form.search_word placeholder="Code Article" %}
                </div>
            </div>

            <div class="col">
                <button type="submit" name="search_form" class="btn btn-outline-secondary search_btn">
                    <i class="bi bi-search"></i> Recherche
                </button>
            </div>
        </form>
    </div><!-- end of search form-->

    <div class="card mb-2">
        <!-- Success Messages-->
        {% for msg in messages %}
        <div class="alert alert-{% if msg.tags %}{{ msg.tags }}{% else %}info{% endif %} alert-dismissible fade show" 
             role="alert">
                {{ msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

        <!-- Error Messages-->
        {% if entree_form.errors  %}
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% for field_with_error, error_messages in entree_form.errors.items %}
                    <span class="me-2">Entree non ajouter verifier: </span><span class="fw-bold">{{ field_with_error }}</span>
                {% endfor %}
            </div>
        {% endif %}

        {% if sortie_form.errors  %}
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% for field_with_error, error_messages in sortie_form.errors.items %}
                    <span class="me-2">Sortie non ajouter verifier :</span><span class="fw-bold">{{ field_with_error }}</span>
                {% endfor %}
            </div>
        {% endif %}

        {% if command_form.errors  %}
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% for field_with_error, error_messages in command_form.errors.items %}
                    <span class="me-2">Sortie non ajouter verifier :</span><span class="fw-bold">{{ field_with_error }}</span>
                {% endfor %}
            </div>
        {% endif %}

        <div class="row card-body">
            <!-- =============================| 
                 === ARTICLE DETAILS 
                |=================================================-->
            <div class="col col-md-6 {% if request.user.profile.groupe != 'admin' %}art_detail_not_admin{% endif %}">
                <div class="p-3 text-center border-bottom border-3 d-flex justify-content-between align-items-center">
                    <span class="h4">Fiche de stock article N° &nbsp;&nbsp;
                        <span class="text-primary">{{ article.art_id }}</span>
                    </span>

                    {% if history %}
                    <a href="{% url "magasin:magasin_log_article" article.art_id %}" class="btn btn-warning">
                        <i class="bi bi-hourglass-split"></i> Hist
                    </a>
                    {% endif %}

                </div>

                <dl class="row p-3">
                    <dt class="col-sm-3">Code</dt>
                    <dd class="col-sm-9 lead">{{ article.code }}</dd>

                    <dt class="col-sm-3">Designation</dt>
                    <dd class="col-sm-9 lead">{{ article.designation }}</dd>

                    <dt class="col-sm-3">Référence</dt>
                    <dd class="col-sm-9 lead">{{ article.ref }}</dd>

                    <dt class="col-sm-3">Emplacement</dt>
                    <dd class="col-sm-9 lead">{{ article.emp }}</dd>

                    <dt class="col-sm-3">Quantité</dt>
                    <dd class="col-sm-9 lead {% if article.qte == 0 %}text-danger{% endif %}">
                        {{ article.qte }} {{ article.umesure }}
                    </dd>

                    <dt class="col-sm-3">Prix Unité</dt>
                    <dd class="col-sm-9 lead fw-bold text-danger">{{ article.prix|intcomma }} DA</dd>

                    <dt class="col-sm-3">Valeur</dt>
                    <dd class="col-sm-9 lead">{{ article.valeur|intcomma }} Da</dd>

                    <dt class="col-sm-3">Observation</dt>
                    <dd class="col-sm-9 lead">{% if article.observation %}{{ article.observation }}{% else %}Ras{% endif %}</dd>

                </dl>

            </div><!-- End of article details col-md-6 -->

            {% if request.user.profile.groupe == 'admin' %}
            <!-- ==============================================| 
                 =   TABS: Buttons
                 =   MOVEMENT / MODIFICATION / ENTREE / SORTIE 
            |=================================================-->
            <div class="col-md-6 col_art_operation">
                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active px-1 py-2" id="movement-tab" 
                                data-bs-toggle="tab" data-bs-target="#movement" type="button" 
                                role="tab" aria-controls="sortie" aria-selected="false">
                            <i class="bi bi-arrow-left-right"></i> Movement
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link px-1 py-2" id="modifier-tab" 
                                data-bs-toggle="tab" data-bs-target="#modifier" type="button"
                                role="tab" aria-controls="modifier" aria-selected="true">
                            <i class="bi bi-pencil-square"></i> Modifier
                        </button>
                    </li>
                  
                    <li class="nav-item" role="presentation">
                        <button class="nav-link px-1 py-2" id="entree-tab" 
                                data-bs-toggle="tab" data-bs-target="#entree" type="button" 
                                role="tab" aria-controls="entree" aria-selected="false">
                            <i class="bi bi-arrow-down-short"></i> Entree
                        </button>
                    </li>
                  
                    <li class="nav-item" role="presentation">
                        <button class="nav-link px-1 py-2" id="sortie-tab" 
                                data-bs-toggle="tab" data-bs-target="#sortie" type="button" 
                                role="tab" aria-controls="sortie" aria-selected="false">
                            <i class="bi bi-arrow-up-short"></i> Sortie
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link px-1 py-2" id="commend-tab" 
                                data-bs-toggle="tab" data-bs-target="#command" type="button" 
                                role="tab" aria-controls="command" aria-selected="false">
                            <i class="bi bi-journal-plus"></i> Commands
                        </button>
                    </li>
                </ul>

                <!-- ========================| 
                    TABS 
                |============================ -->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active tab_content" id="movement" role="tabpanel" 
                        aria-labelledby="movement-tab">
                        <h5 class="text-center alert alert-secondary">Article Movement</h5>
                        {% if article_mov == "empty" %}
                            <p class="p-3">- Pas de Movement Pour Cette Article.</p>
                        {% else %}
                        <table class="table table-bordered table-hover text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">User</th>
                                    <th scope="col">Opération</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Qte</th>
                                    <th scope="col">Prix-U</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for mov_art in article_mov %}
                                <tr>
                                    <td>{{ mov_art.movement_date|date:"d M Y" }}</td>
                                    <td>{{ mov_art.user_id.username }}</td>

                                    {% if mov_art.movement == 'Sortie' %}
                                        <td class="text-danger">{{ mov_art.movement }}</td>
                                    {% else %}
                                        <td class="text-primary">{{ mov_art.movement }}</td>
                                    {% endif %}
                                    <td>
                                        <a href="{% url "magasin:movement_article" mov_art.art_id.art_id %}">{{ mov_art.art_id.code }}</a>
                                    </td>
                                    <td>{{ mov_art.qte }}</td>
                                    <td>{{ mov_art.prix }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div><!-- end of movement tab -->

                    <!-- ================================================| 
                        MODIFICATION FORM 
                    |=================================================-->
                    <div class="tab-pane tab_content fade" id="modifier" role="tabpanel" aria-labelledby="modifier-tab">
                        <h5 class="alert alert-success text-center">Modification Article</h5>
                        <form action="" method="POST">
                            {% csrf_token %}

                            {% for field in update_art_form %}
                                <div class="form-group row mb-2">
                                    <label class="col-sm-4 col-form-label fst-italic text-secondary" for="{{ field.id_for_label }}">
                                        {{ field.label }}
                                    </label>

                                    <div class="col-sm-8">
                                        {% if field.errors %}
                                            {% if field.name == "category" %}
                                                {% render_field field class+="is-invalid" %}
                                            {% else %}
                                                {% render_field field class="form-control is-invalid" %}
                                            {% endif %}
                                            <div class="invalid-feedback">
                                                {% for error in field.errors %}<span>{{ error }}</span>{% endfor %}
                                            </div>
                                        {% else %}
                                            {% if field.name == "category" %}
                                                {% render_field field %}
                                            {% else %}
                                                {% render_field field class="form-control" %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            <button type="submit" name="update_art" class="submit-btn btn btn-outline-success float-end">
                                <i class="bi bi-pencil-square"></i> Modifier
                            </button>
                        </form>
                    </div><!-- end of modify tab -->

                    <!-- =============================| 
                        == ENTREE FORM 
                    |============================================-->
                    <div class="tab-pane tab_content fade" id="entree" role="tabpanel" aria-labelledby="entree-tab">
                        <h5 class="alert alert-primary text-center">Nouvelle Entree</h5>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group row mb-2" style="">
                                <label class="col-sm-3 col-form-label fst-italic text-secondary" for="{{ form.slug.id_for_label }}">Code</label>
                                <div class="col-sm-9">
                                    <input class="form-control-plaintext text-uppercase fw-bold" 
                                           name="slug" value="{{ article.slug }}" readonly>
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <label class="col-sm-3 col-form-label fst-italic text-secondary" for="{{ entree_form.entree_date.id_for_label }}">
                                    Date
                                </label>
                                <div class="col-sm-9">
                                    {% if entrie_form.entree_date.errors %}
                                        {% render_field entree_form.entree_date class+="invalid" %}
                                        {% for error in entree_form.entree_date.errors %}
                                            <div class="invalid-feedback"><span>{{ error }}</span></div>
                                        {% endfor %}

                                    {% else %}
                                        {% render_field entree_form.entree_date %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <label class="col-sm-3 col-form-label fst-italic text-secondary" for="{{ entree_form.qte.id_for_label }}">Qte</label>
                                <div class="col-sm-9">
                                    {% if entree_form.qte.errors %}
                                        {% render_field entree_form.qte class="form-control is-invalid" value=1 %}
                                        {% for error in entree_form.qte.errors %}
                                            <div class="invalid-feedback"><span>{{ error }}</span></div>
                                        {% endfor %}
                                    {% else %}
                                        {% render_field entree_form.qte class="form-control" value=1 %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <label class="col-sm-3 col-form-label fst-italic text-secondary" for="{{ entree_form.prix.id_for_label }}">Prix</label>
                                <div class="col-sm-9">
                                    {% if entree_form.prix.errors %}
                                        {% render_field entree_form.prix class="form-control is-invalid" value=1 %}
                                        {% for error in entree_form.prix.errors %}
                                            <div class="invalid-feedback"><span>{{ error }}</span></div>
                                        {% endfor %}
                                    {% else %}
                                        {% render_field entree_form.prix class="form-control" value=article.prix %}
                                    {% endif %}
                                </div>
                            </div>
                            <button type="submit" name="entree_form" class="btn btn-outline-primary float-end">
                                <i class="bi bi-plus-lg"></i> Entree
                            </button>
                        </form>
                    </div><!-- end of entree tab -->

                    <!-- =============================| 
                        == SORTIE FORM 
                    |============================================-->
                    <div class="tab-pane tab_content fade" id="sortie" role="tabpanel" aria-labelledby="contact-tab">
                        <h5 class="text-center alert alert-danger">Nouvelle Sortie</h5>
                        <form action="" method="POST">
                            {% csrf_token %}

                            <div class="form-group row mb-2" style="">
                                <label class="col-sm-3 col-form-label fst-italic text-secondary" for="{{ sortie_form.slug.id_for_label }}">Code</label>
                                <div class="col-sm-9">
                                    <input class="form-control-plaintext text-uppercase fw-bold" 
                                           name="slug" value="{{ article.slug }}" readonly>
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <label class="col-sm-3 col-form-label fst-italic text-secondary" for="{{ sortie_form.sortie_date.id_for_label }}">
                                    Date
                                </label>
                                <div class="col-sm-9">
                                    {% if sortie_form.sortie_date.errors %}
                                        {% render_field sortie_form.sortie_date class+="is-invalid" %}
                                        {% for error in sortie_form.sortie_date.errors %}
                                            <div class="invalid-feedback"><span>{{ error }}</span></div>
                                        {% endfor %}

                                    {% else %}
                                        {% render_field sortie_form.sortie_date %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <label class="col-sm-3 col-form-label fst-italic text-secondary" for="{{ sortie_form.qte.id_for_label }}">Qte</label>
                                <div class="col-sm-9">
                                    {% if sortie_form.qte.errors %}
                                        {% render_field sortie_form.qte class+="form-control is-invalid" value=1 %}
                                        {% for error in sortie_form.qte.errors %}
                                            <div class="invalid-feedback"><span>{{ error }}</span></div>
                                        {% endfor %}
                                    {% else %}
                                        {% render_field sortie_form.qte class="form-control" value=1 %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <label class="col-sm-3 col-form-label fst-italic text-secondary" for="{{ sortie_form.prix.id_for_label }}">Prix</label>
                                <div class="col-sm-9">
                                    {% render_field sortie_form.prix|append_attr:"readonly:readonly" class="form-control" value=article.prix %}
                                </div>
                            </div>
                            <button type="submit" name="sortie_form" class="btn btn-outline-danger float-end">
                                <i class="bi bi-dash-lg"></i> Sortie
                            </button>
                        </form>
                    </div><!-- end of sorite tab -->

                    <!-- =============================| Command FORM |============================================-->
                    <div class="tab-pane tab_content fade" id="command" role="tabpanel" aria-labelledby="command-tab">
                        <h5 class="text-center alert alert-info">Commands</h5>

                        {% if art_cmd == "empty" %}
                            <p class="p-3">Pas de Command Pour Cette Article.</p>
                        {% else %}
                        <table class="table table-bordered table-hover text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">User</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Qte</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for cmd_art in art_cmd %}
                                <tr>
                                    <td>{{ cmd_art.command_date|date:"d M Y" }}</td>
                                    <td>{{ cmd_art.user_id.username }}</td>
                                    <td>{{ cmd_art.art_id.code }}</td>
                                    <td>{{ cmd_art.qte }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}

                        <a data-bs-toggle="collapse" href="#command-form" role="button" aria-expanded="false" 
                           aria-controls="comman-form">N. Commande <i class="fa fa-plus-square"></i>
                        </a>
                        <form action="" method="POST" class="collapse" id="command-form" data-form="command_form">
                            <hr>
                            {% csrf_token %}
                            <div class="form-group row mb-2">
                                <label class="col-sm-3 col-form-label fst-italic text-secondary" for="{{ command_form.cmnd_date.id_for_label }}">
                                    Date
                                </label>
                                <div class="col-sm-9">
                                    {% if command_form.cmnd_date.errors %}
                                        {% render_field command_form.cmnd_date class+="is-invalid" %}
                                        {% for error in command_form.cmnd_date.errors %}
                                            <div class="invalid-feedback"><span>{{ error }}</span></div>
                                        {% endfor %}
                                    {% else %}
                                        {% render_field command_form.cmnd_date %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <label class="col-sm-3 col-form-label fst-italic text-secondary" for="{{ command_form.cmnd_qte.id_for_label }}">Qte</label>
                                <div class="col-sm-9">
                                    {% if command_form.cmnd_qte.errors %}
                                        {% render_field command_form.cmnd_qte class="form-control is-invalid" %}
                                        {% for error in command_form.cmnd_qte.errors %}
                                            <div class="invalid-feedback"><span>{{ error }}</span></div>
                                        {% endfor %}
                                    {% else %}
                                        {% render_field command_form.cmnd_qte class="form-control" value=1 %}
                                    {% endif %}
                                </div>
                            </div>

                            <button type="submit" name="cmnd_form" class="btn btn-outline-info float-end">
                                <i class="bi bi-floppy2"></i> Enregistre
                            </button>
                        </form>
                    </div><!-- end of command tab -->

                </div><!-- end of TABS content -->

                <!-- ===================================| BUTTONS |============================================ -->
            </div><!--end of col entree/sortie -->
            {% endif %} <!-- End of check if user == admin -->

        </div><!--End of card body-->
    </div><!--End of card-->
</div><!-- end of container -->
{% endblock %}
