{% load widget_tweaks %}

<form id="entreeArticleForm" action="" method="POST" data-form-url='{% url "magasin:entree_ajax" article.art_id article.slug %}'>
    {% csrf_token %}

    <div class="modal-header">
        <h5 class="modal-title text-primary">Nouvelle Entree</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div><!--End of header card-->

    <div class="modal-body">
        <div id="formErrors" class="alert alert-danger" style="display: none;"></div>

        <div class="form-group row mb-2" style="">
            <label class="fst-italic text-secondary col-sm-3 col-form-label" for="{{ form.slug.id_for_label }}">Code</label>
            <div class="col-sm-9">
                <input class="form-control-plaintext text-uppercase fw-bold" name="slug" value="{{ article.slug }}" readonly>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="fst-italic text-secondary col-sm-3 col-form-label" for="{{ form.entree_date.id_for_label }}">
                Date
            </label>
            <div class="col-sm-9">
                {% render_field form.entree_date %}
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="text-secondary fst-italic col-sm-3 col-form-label" for="{{ form.qte.id_for_label }}">Qte</label>
            <div class="col-sm-9">
                {% render_field form.qte class="form-control" value=1 %}
            </div>
        </div>

        <div class="form-group row mb-2">
            <label class="text-secondary fst-italic col-sm-3 col-form-label" for="{{ form.prix.id_for_label }}">Prix</label>
            <div class="col-sm-9">
                {% render_field form.prix class="form-control" value=article.prix %}
            </div>
        </div>
    </div><!--End body modal-->

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary"><i class="bi bi-plus-square"></i> Entree</button>
    </div><!--End of footer card-->
</form>
