{% extends "magasin/base.html" %}
{% load static %}
{% load fontawesome %}
{% load widget_tweaks %}

{% block title %}Etats des stocks{% endblock %}

{% block content %}
<div class="container">
    <div class="card card_form">
        <h5 class="card-header bg-secondary text-center text-white p-3">Enregistrer Etats Dans un fichier Excel</h5>

        <div class="card-body">
            {% for msg in messages %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group row mb-2">
                    <label class="col-form-label col-sm-4" for="{{ etat_form.par.id_for_label }}">Etats</label>
                    <div class="col-sm-8">
                        {% if etat_form.par.errors %}
                            {% render_field etat_form.par class="form-control id-invalid" %}
                            <div class="invalid-feedback">
                                {% for error in etat_form.par.errors %}<span>{{ error }}</span>{% endfor %}
                            </div>
                        {% else %}
                            {% render_field etat_form.par class="form-select" %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-sm-4" for="{{ etat_form.date.id_for_label }}">Date</label>
                    <div class="col-sm-8 mb-2">
                        <div class="row date_row">
                            {% if etat_form.date.errors %}
                                {% render_field etat_form.date class+="is-invalid" %}
                                <div class="invalid-feedback">
                                    {% for error in etat_form.date.errors %}<span>{{ error }}</span>{% endfor %}
                                </div>
                            {% else %}
                                {% render_field etat_form.date %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class=""><button type="submit" class="btn btn-outline-primary float-end">Enregistrer</button></div>
            </form>
            {% if submit %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong></strong> Enregistrer avec success
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

        </div><!--End of card body -->
    </div><!--End of card -->
</div><!--End of container -->
{% endblock %}
