{% extends "magasin/base.html" %}
{% load widget_tweaks %}
{% load humanize %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Magasin{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col col-md-2">
        <div class="cat_list shadow bg-body rounded border">
            <h5 class=" text-center d-flex">
                <!--cat_list_header-->
                <div class="">
                    Categories 
                </div>
                <div class="">
                    <a href="#" type="button" id="addCategoryBtn" class="add_cat" >
                        <i class="bi bi-plus-square"></i>
                    </a>
                </div>
            </h5>

            <ul class="list-group list-group-flush text-center cat_list_item">
                <a href="{% url "magasin:article_list" %}"
                   {% if not category %}class="list-group-item list-group-item-action active"
                   {% else %}class="list-group-item list-group-item-action"{% endif %}>
                   All
                </a>

                <!-- Loup through all categories -->
                {% for c in categories %}
                    <a href="{{ c.get_absolute_url }}" 
                       {% if category.slug == c.slug %} class="list-group-item list-group-item-action active" 
                       {% else %}class="list-group-item list-group-item-action"{% endif %}>{{ c.name }}</a>
                {% endfor %}
            </ul>
        </div><!--End of card div-->
    </div><!--End of side bar col-->

    <!-- ===========================| Main Column |================================= -->
    <div class="col col-md-10">
        <div class="main-table" id="article_table">
            <h2 class="header_title">
                {% if category %}{{ category.name }} Articles
                {% elif stock_alarm %}Stock Egale a 0
                {% else %}Tous Les Articles{% endif %}
            </h2>

            <!-- ========================| Search form |============================-->
            <div class="row mb-2">
                <div class="col-sm-10">
                    <form class="row row-cols-lg-auto align-items-center" action="" method="post">
                        {% csrf_token %}
                        <div class="col-12">
                            <div class="input-group">
                                <div class="input-group-text"><i class="bi bi-search"></i></div>
                                {% render_field search_article_form.search_word class+="search_wrd" placeholder="Code; Reference; Desigation" %}
                            </div>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-outline-primary search_btn">Search</button>
                        </div>
                    </form>
                </div>

                <div class="col-sm-2">
                    {% if request.user.profile.groupe == 'admin' %}
                    <button id="addArticleBtn" type="button" class="btn btn-primary float-end" 
                            data-bs-toggle="tooltip" data-bs-placement="bottom" title="Nouveaux Article">
                        <i class="bi bi-plus"></i> N. Article
                    </button>
                {% endif %}
                </div>

            </div>
            
            <!-- Display Messages -->
            {% for msg in messages %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            <div id="successAlert" class="alert alert-success d-none" role="alert"></div>

            <!-- Table -->
            <table class="table table-bordered table-hover main_table">
                <thead class="table-success">
                    <tr>
                        <th scope="col">Designation</th>
                        <th scope="col">Code</th>
                        <th scope="col">Reference</th>
                        <th scope="col">Emp</th>
                        <th scope="col">U-M</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix-U</th>
                        <th scope="col">Operations</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                        <tr class="{% if article.qte < 1 %}table-danger{% endif %}" id="article-row-{{ article.art_id }}">
                            <td scope="row">
                                <a class="text-decoration-none" href="{{ article.get_absolute_url }}">
                                    {{ article.designation|truncatechars:17 }}
                                </a>
                            </td>
                            <td data-bs-toggle="tooltip" data-bs-placement="bottom" 
                                title="OBS: {% if article.observation %}{{ article.observation }}{% else %}RAS{%endif%}">
                                {{ article.code }}
                            </td>
                            <td data-toggle="tooltip" data-placement="bottom" title="{{ artcile.ref }}">
                                {{ article.ref|truncatechars:20 }}
                            </td>
                            <td>{{ article.emp }}</td>
                            <td>{{ article.umesure }}</td>
                            <td>{{ article.qte }}</td>
                            <!--Comment prix unitaire-->
                            <td>{{ article.prix|intcomma }}</td>
                            <!--<td>
                                {% if article.observation == None %}RAS{% else %}{{ article.observation|truncatechars:10 }}{% endif %}
                                </td>-->

                            <!-- Operations buttons-->
                            <td class="text-center">
                                <!-- SuperUser -->
                                {% if request.user.profile.groupe == 'admin' %}
                                <!-- Read Article -->
                                <button type="button" class="readArticleBtn btn btn-sm btn-outline-primary" 
                                        data-slug="{{ article.slug }}" data-art-id="{{ article.art_id }}">
                                    <i class="bi bi-eye"></i>
                                </button>
                                <!-- Update Article -->
                                <button type="button" class="updateArticleBtn btn btn-sm btn-outline-info" 
                                        data-slug="{{ article.slug }}" data-art-id="{{ article.art_id }}">
                                        {% comment %}data-form-url="{% url "magasin:update_article" article.art_id article.slug %}">{% endcomment %}
                                    <i class="bi bi-pencil-square"></i>
                                </button>

                                <!-- Delete Article -->
                                <button type="button" class="deleteArticleBtn btn btn-sm btn-outline-danger" 
                                        data-slug="{{ article.slug }}" data-art-id="{{ article.art_id }}">
                                    <i class="bi bi-trash"></i>
                                </button>

                                <!-- Drop down menu for ENTREE, SORTIE -->
                                <div class="btn-group dropstart">
                                    <button class="btn btn-outline-dark btn-sm dropdown-toggle" data-bs-toggle="dropdown" 
                                        aria-expanded="false">
                                        <i class="bi bi-arrow-left-right"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="actionMenu">
                                        <li>
                                            <a href="#" class="bs-modal dropdown-item" id="entree-article" 
                                                data-form-url="{% url "magasin:entree" article.art_id article.slug %}">
                                                <i class="bi bi-download"></i> Entree
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="bs-modal dropdown-item" id="sortie-article"
                                               data-form-url="{% url "magasin:sortie" article.art_id article.slug %}">
                                                <i class="bi bi-upload"></i> Sortie
                                            </a>
                                        </li>
                                    </ul>
                                </div><!-- end of dropdown entree/sortie -->

                                {% else %}
                                <button type="button" id="read-article" class="bs-modal btn btn-sm btn-outline-primary" 
                                        data-form-url="{% url "magasin:read_article" article.art_id article.slug %}">
                                    <i class="bi bi-eye"></i>
                                </button>
                                {% endif %} <!-- endif for checking user group -->
                            </td><!-- end of operation td -->
                        </tr><!-- end of table row-->
                    {% endfor %}
                </tbody>
            </table>
        </div><!--End of main table div-->
        {% include "pagination.html" with page=articles %}
    </div><!--End of table col-->

</div><!-- End of row-->

{% endblock %}
