{% extends "magasin/base.html" %}
{% load widget_tweaks %}
{% load humanize %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Magasin{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col col-md-2">
        <!-- Categories -->
        <div class="shadow bg-body rounded border">
            <h5 class="text-center d-flex p-4 justify-content-arround align-items-center border-bottom border-3">
                <!-- Category list header-->
                <span class="me-1">Categories</span>
                <button class="btn btn-sm btn-default text-primary" id="addCategoryBtn" 
                        data-form-url='{% url "magasin:create_category" %}'>
                    <i class="bi bi-patch-plus fs-4"></i>
                </button>
            </h5>

            <ul class="list-group list-group-flush text-center cat_list_item">
                <a href="{% url "magasin:article_list" %}"
                   {% if not category %}class="list-group-item list-group-item-action active"
                   {% else %}class="list-group-item list-group-item-action"{% endif %}>
                   Tous
                </a>
                <!-- Loup through all categories -->
                {% for c in categories %}
                    <a href="{{ c.get_absolute_url }}" 
                       class="list-group-item list-group-item-action 
                              {% if category.slug == c.slug %}active{% endif %}
                              d-flex align-items-center justify-content-between">
                            {{ c.name }}
                        <div class="button-group">                        
                            <button class="btn btn-sm btn-default text-info updateCategoryBtn" 
                                    data-form-url='{% url "magasin:update_category" c.cat_id %}'>
                                <i class="bi bi-pencil fs-5"></i>
                            </button>
                            <button class="btn btn-sm btn-default text-danger removeCategoryBtn" 
                                    data-item-id="{{ c.cat_id }}">
                                <i class="bi bi-patch-minus fs-5"></i>
                            </button>
                        </div>
                    </a>
                {% endfor %}
            </ul>
        </div><!--End of card div-->
    </div><!--End of side bar col-->

    <!-- ===========================| Main Column |================================= -->
    <div class="col col-md-10">
        <div class="main-table" id="article_table">
        
            <h2 class="alert alert-dark my-4 fst-italic text-center shadow">
                <!-- Header Page Title -->
                {% if category %}
                    {{ category.name }} Articles ({{ count }})
                {% elif stock_alarm %}
                    Stock Egale a 0 ({{ count }})
                {% elif search_word %}
                    {{ search_word }} ({{ count}})
                {% else %}
                    Tous Les Articles ({{ count }})
                {% endif %}
            </h2>
            <!-- ALERT DIV -->
            <div id="articleAlert" class="alert alert-info alert-dismissible d-none" 
                 role="alert">
            </div>
            <!-- ===========================================================================-->
            <div class="d-flex justify-content-between mb-4">
                <!-- Search form -->
                <form class="row row-cols-lg-auto align-items-center" action="" method="post">
                    {% csrf_token %}

                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-text"><i class="bi bi-search"></i></div>
                            {% render_field search_article_form.search_word  placeholder="Code; Reference; Desigation" %}
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-outline-primary shadow">
                            <i class="bi bi-search"></i>&nbsp; Recherche
                        </button>
                    </div>
                </form>

                {% if request.user.profile.groupe == 'admin' %}
                <div class="d-flex">
                    <div class="dropdown me-2">
                        <!-- ACTIONS [ stock-alarm, article-sans-prix, total-statistics ]-->
                        <button class="btn btn-info dropdown-toggle" type="button" 
                                data-bs-toggle='dropdown' aria-expanded="false">
                            <i class="bi bi-plus-lg me-1"></i> Actions
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{% url "magasin:stock_alarm" 1 %}">
                                    <i class="bi bi-alarm me-1"></i> Stock Alarm
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="{% url "magasin:art_sans_prix" 1 %}">
                                    <i class="bi bi-journal-minus me-1"></i> Article Sans Prix
                                </a>
                            </li>

                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a id="totalsModal"class="dropdown-item" href="#" 
                                   data-form-url="{% url "magasin:total_articles" %}">
                                    <i class="bi bi-currency-dollar me-1"></i> Total Des Produits
                                </a>
                            </li>
                        </ul>
                    </div> <!-- End of ACTIONS [ stock-alarm, article-sans-prix, total-statistics ]-->
                    <div class="dropdown">
                        <!-- CREATE ARTICLES -->
                        <button class="btn btn-success dropdown-toggle" type="button" 
                                data-bs-toggle='dropdown' aria-expanded="false">
                            <i class="bi bi-plus-lg me-1"></i> Ajouter
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <button id="addArticleBtn" class="dropdown-item" type="button" 
                                        data-form-url='{% url "magasin:create_article" %}'>
                                    <i class="bi bi-journal-plus text-success me-1"></i>Nouvel article
                                </button>
                            </li>

                            <li>
                                <button id="createMultipleArticles" class="dropdown-item" type="button" 
                                        data-form-url="{% url 'magasin:upload_articles' %}">
                                    <i class="bi bi-file-earmark-plus text-success me-1"></i>
                                    Importer des articles (Excel)
                                </button>
                            </li>
                        </ul>
                    </div><!-- end of CREATE ARTICLE -->
                </div>
                {% endif %}

            </div><!-- end of search form -->
            
            <!-- Display Messages -->
            {% for msg in messages %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}            

            <table class="table table-bordered table-hover main_table shadow">
                <!-- Products Table  -->
                <thead class="table-secondary text-center">
                    <tr>
                        <th class="py-3" scope="col">Designation</th>
                        <th class="py-3" scope="col">Code</th>
                        <th class="py-3" scope="col">Reference</th>
                        <th class="py-3" scope="col">Emp</th>
                        <th class="py-3" scope="col">U-M</th>
                        <th class="py-3" scope="col">Quantité</th>
                        <th class="py-3" scope="col">Prix-U</th>
                        <th class="py-3" scope="col">Operations</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for article in articles %}
                        <tr id="article-row-{{ article.art_id }}">
                            <td scope="row">
                                <a class="text-reset text-decoration-none" 
                                   href="{{ article.get_absolute_url }}">
                                    {{ article.designation|truncatechars:17 }}
                                </a>
                            </td>
                            <td data-bs-toggle="tooltip" data-bs-placement="bottom" 
                                title="Note: {% if article.observation %}
                                                {{ article.observation }}
                                            {% else %}Ras{%endif%}">
                                {{ article.code }}
                            </td>
                            <td data-toggle="tooltip" data-placement="bottom" title="{{ artcile.ref }}">
                                {{ article.ref|truncatechars:20 }}
                            </td>
                            
                            <td>{{ article.emp }}</td>
                            <td>{{ article.umesure }}</td>
                            <td class="{% if article.qte <= 0 %}table-danger{% endif %}">
                                {{ article.qte }}
                            </td>
                            <!-- prix unitaire -->
                            <td class="{% if article.prix <= 0 %}table-danger{% endif %}">
                                {{ article.prix|intcomma }}
                            </td>

                            <td class="text-center">
                                <!-- Operations buttons-->
                                <div class="btn-group">
                                
                                <!-- Read Article -->
                                <button type="button" class="readArticleBtn btn btn-sm btn-outline-primary" 
                                        data-form-url='{% url "magasin:read_article" article.art_id article.slug %}'>
                                    <i class="bi bi-eye"></i>
                                </button>
                                
                                <!-- SuperUser -->
                                {% if request.user.profile.groupe == 'admin' %}
                                <!-- Update Article -->
                                <button type="button" class="updateArticleBtn btn btn-sm btn-outline-info" 
                                        data-form-url='{% url "magasin:update_article" article.art_id article.slug %}'>
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                                
                                <!-- Actions Dropdown Buttons -->
                                <div class="btn-group dropstart">
                                    <!-- ENTREE, SORTIE -->
                                    <button class="btn btn-outline-warning btn-sm dropdown-toggle" 
                                            data-bs-toggle="dropdown" 
                                            aria-expanded="false">
                                        <i class="bi bi-arrow-left-right"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="actionMenu">
                                        <li>
                                            <a href="#" class="newEntreeBtn dropdown-item"
                                              data-form-url="{% url "magasin:entree_ajax" article.art_id  %}">
                                                <i class="bi bi-download"></i> Entree
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="newSortieBtn dropdown-item"
                                               data-form-url="{% url "magasin:sortie_ajax" article.art_id %}">
                                                <i class="bi bi-upload"></i> Sortie
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="newCommandeBtn dropdown-item"
                                               data-form-url='{% url "magasin:create_commande" article.art_id %}'>
                                                <i class="bi bi-journal-plus"></i> N.Commande
                                            </a>
                                        </li>
                                    </ul>
                                </div><!-- end of dropdown entree/sortie -->
                                
                                <!-- Delete Article -->
                                <button type="button" class="deleteArticleBtn btn btn-sm btn-outline-danger" 
                                        data-item-id="{{ article.art_id }}">
                                    <i class="bi bi-trash"></i>
                                </button>
                                </div>
                                {% endif %} <!-- endif for checking user group -->                      
                            </td><!-- end of operation td -->
                        </tr><!-- end of table row-->
                    {% endfor %}
                </tbody>
            </table>
        </div><!--End of main table div-->
        {% include "pagination.html" with page=articles %}
    </div><!--End of table col-->

</div><!-- End of row-->

{% endblock %}
