{% extends "magasin/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Commands{% endblock %}

{% block content %}
<div class="container">
    <!-- Display Messages -->
    {% for msg in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <!-- Title -->
    <h2 class="display-6 my-5 py-2 fst-italic border-bottom border-2">
        <i class="bi bi-journal-text"></i>
        Gérer les commandes
    </h2>
    <div id="commandeAlert" class="alert alert-info alert-dismissible d-none" role="alert"></div>

    <!-- Main Table -->
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">User</th>
                <th scope="col">Code</th>
                <th scope="col">Designation</th>
                <th scope="col">Quantité</th>
                <th scope="col">Opération</th>
            </tr>
        </thead>
        <tbody>
            {% for commande in commandes %}
                <tr id="commande-row-{{ commande.command_id}}">
                    <td>{{ commande.command_date|date:"d M Y" }}</td>
                    <td>{{ commande.user_id.username }}</td>
                    <td>
                        <a href="{{ commande.art_id.get_absolute_url }}">{{ commande.art_id.code }}</a>
                    </td>
                    <td>{{ commande.art_id.designation }}</td>
                    <td>{{ commande.qte }}</td>
                    <td class="text-center">
                        <button class="readCommandBtn btn btn-sm btn-primary" 
                                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Commande détail."
                                data-form-url="{% url "magasin:read_commande" commande.command_id %}">
                            <i class="bi bi-journal-text"></i>
                        </button>

                        <button class="editCommandeBtn btn btn-sm btn-warning" 
                                data-bs-toggle="tooltip" data-bs-placement="bottom" 
                                title="Modifier la commande."
                                data-form-url="{% url "magasin:update_commande" commande.command_id %}">
                            <i class="bi bi-pencil"></i>
                        </button>

                        <button class="deleteCommandeBtn btn btn-sm btn-danger" data-item-id="{{ commande.command_id}}" 
                                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Supprimé la commande.">
                            <i class="bi bi-trash"></i>
                        </button>
                        {% if commande.status == 0 %}
                            <a href="#" class="activateCommandeBtn btn btn-sm btn-success"
                               data-form-url="{% url "magasin:activate_commande" commande.command_id %}"
                               data-bs-toggle="tooltip" data-bs-placement="bottom" title="Activé la commande.">
                                <i class="bi bi-check2-all activateCommandeBtn"></i> Activé
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
