{% extends "magasin/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Movement{% endblock %}

{% block content %}
<div class="container mt-2">

    {% for msg in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <div class="d-flex my-5">
        <!-- Search form-->
        <form class="d-flex align-items-center" action="" method="post">
            {% csrf_token %}
            <div class="form-group me-2">
                {% render_field search_movement_form.search_code class="form-control" placeholder="Code Article" %}
            </div>
            <div class="form-group me-2">
                {% render_field search_movement_form.operation class="form-select movement_operation" %}
            </div>

            <div class="form-group me-2">
                {% render_field search_movement_form.day class="form-select" %}
            </div>
            <div class="form-group me-2">
                {% render_field search_movement_form.month class="form-select" %}
            </div>
            <div class="form-group me-2">
                {% render_field search_movement_form.year class="form-select" %}
            </div>

            <button type="submit" class="btn btn-outline-primary" name="search_mov_form">
                <i class="bi bi-search"></i> Search
            </button>
        </form>

        <div class="ms-auto">
            <button type="button" class="btn btn-success dropdown-toggle shadow float-end" data-bs-toggle="dropdown">
                <i class="bi bi-file-excel"></i> Etats stocks
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                <p class="lead text-center py-2 border-bottom border-2">Etats</p>
                <form class="px-2 py-2" action="" method="post">
                    {% csrf_token %}
                    <div class="form-group mb-2">
                        {% if etat_form.par.errors %}
                            {% render_field etat_form.par class="form-control id-invalid" %}
                            <div class="invalid-feedback">
                                {% for error in etat_form.par.errors %}<span>{{ error }}</span>{% endfor %}
                            </div>
                        {% else %}
                            {% render_field etat_form.par class="form-select" %}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <div class="d-flex">
                            {% if etat_form.etat_date.errors %}
                                {% render_field etat_form.etat_date class+="is-invalid" %}
                                <div class="invalid-feedback">
                                    {% for error in etat_form.etat_date.errors %}<span>{{ error }}</span>{% endfor %}
                                </div>
                            {% else %}
                                {% render_field etat_form.etat_date %}
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <button type="submit" name="etat" class="btn btn-outline-success float-end">
                        <i class="bi bi-file-excel"></i> Enregistrer
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!-- Table -->
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">User</th>
                <th scope="col">Operation</th>
                <th scope="col">Code</th>
                <th scope="col">Designation</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix-U</th>
                <th scope="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr id="movement-row-{{ article.movement_id}}">
                    <td>{{ article.movement_date|date:"d M Y" }}</td>
                    <td>{{ article.user_id.username }}</td>
                    <td>{{ article.movement }}</td>
                    <th scope="row">
                        <a href="{% url "magasin:movement_article" article.art_id.art_id %}">{{ article.art_id.code }}</a>
                    </th>
                    <td>{{ article.art_id.designation }}</td>
                    <td>{{ article.qte }}</td>
                    <td>{{ article.prix }}</td>
                    <td class="text-center">
                        {% if request.user.profile.groupe == 'admin' %}
                            <!-- del Movement -->
                            <button type="button" data-movement-id="{{ article.movement_id}}"
                                    class="deleteMovementBtn btn btn-sm btn-outline-danger">
                                {{ article.movement_id }} <i class="bi bi-trash"></i>
                            </button>
                        {% endif %} <!-- endif for checking user group -->
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "pagination.html" with page=articles %}
</div>
{% endblock %}
