<div class="modal-header text-center">
    <h3 class="modal-title">Commande Details</h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex align-items-center">
            <span class="text-secondary fst-italic" style="font-size: 1rem; width: 30%">ID</span>
            <span class="fw-bold">{{ commande.command_id }}</span>
        </li>
        <li class="list-group-item d-flex align-items-center">
            <span class="text-secondary fst-italic" style="font-size: 1rem; width: 30%">Utilisateur</span>
            <span class="fw-bold">{{ commande.user_id.username }}</span>
        </li>
        <li class="list-group-item d-flex align-items-center">
            <span class="text-secondary fst-italic" style="font-size: 1rem; width: 30%">Code</span>
            <span class="fw-bold">{{ commande.art_id.code }}</span>
        </li>
        <li class="list-group-item d-flex align-items-center">
            <span class="text-secondary fst-italic" style="font-size: 1rem; width: 30%">Designation</span>
            <span class="fw-bold">{{ commande.art_id.designation }}</span>
        </li>
        <li class="list-group-item d-flex align-items-center">
            <span class="text-secondary fst-italic" style="font-size: 1rem; width: 30%">Date</span>
            <span class="fw-bold">{{ commande.command_date|date:"d-M-Y" }}</span>
        </li>
        <li class="list-group-item d-flex align-items-center">
            <span class="text-secondary fst-italic" style="font-size: 1rem; width: 30%">Quantité</span>
            <span class="fw-bold text-danger">{{ commande.qte }}</span>
        </li>
        <li class="list-group-item d-flex align-items-center">
            <span class="text-secondary fst-italic" style="font-size: 1rem; width: 30%">Status</span>
            <span class="fw-bold {% if commande.status == 0 %}text-warning{% else %}text-primary{% endif %}">
                {% if commande.status == 0 %}
                    <i class="bi bi-hourglass-split"></i> Not Active
                {% else %}
                    <i class="bi bi-check2-all"></i> Active
                {% endif %}
            </span>
        </li>
    </ul>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default border" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i> Close</button>
</div>
