{% load widget_tweaks %}

<form id="categoryEditForm" action="" method="POST" 
      data-form-url='{% url "magasin:update_category" category.cat_id %}'>
    {% csrf_token %}

    <div class="modal-header">
        <h4 class="modal-title">
            <i class="bi bi-pencil-square me-3"></i>Modification Category
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div><!--End of header card-->

    <div class="modal-body">
        {% for field in form %}
            <div class="form-group row mb-2">
                <label class="text-secondary fst-italic col-sm-3 col-form-label" 
                       for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>
                <div class="col-sm-9">
                    {% if field.name == "category" %}
                        {% render_field field class="form-select" %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <!-- Errors -->
        <div class="form-group row mb-2">
            <div class="col-sm-3"></div>
            <div id="formErrors" class="col-sm-9 text-danger mt-2" style="display: none;"></div>
        </div>
    </div><!--End body modal-->

    <div class="modal-footer">
        <button type="button" class="btn btn-default border" data-bs-dismiss="modal">
            <i class="bi bi-x-lg me-2"></i>Close
        </button>
        <button type="submit" class="btn btn-info"><i class="bi bi-floppy me-2"></i>Enregistré</button>
    </div><!--End of footer card-->
</form>
