{% load widget_tweaks %}

<form id="articleEditForm" action="" method="POST" 
      data-form-url='{% url "magasin:update_article" article.art_id article.slug %}'>
    {% csrf_token %}

    <div class="modal-header">
        <h5 class="modal-title">Update Article</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div><!--End of header card-->

    <div class="modal-body">
        <div id="formErrors" class="alert alert-danger mt-2" style="display: none;"></div>

        {% for field in form %}
            <div class="form-group row mb-2">
                <label class="col-sm-3 col-form-label" for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>
                <div class="col-sm-9">
                    {% if field.name == "category" %}
                        {% render_field field class="form-select" %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div><!--End body modal-->

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-info">Update</button>
    </div><!--End of footer card-->
</form>
