{% load widget_tweaks %}

<form id="addUserForm" action="" method="POST" data-form-url='{% url "accounts:create_user" %}'>
    {% csrf_token %}

    <div class="modal-header">
        <h5 class="modal-title"><i class="bi bi-person-plus me-3"></i>Nouvel Utilisateur</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div><!--End of header card-->

    <div class="modal-body">
        <div id="formErrors" class="alert alert-danger mt-2" style="display: none;"></div>
        {% for field in user_form %}
            <div class="form-group row mb-2">
                <label class="col-sm-4 col-form-label text-secondary fst-italic" 
                       for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="col">
                    {% if field.errors %}
                        {% render_field field class="form-control is-invalid" placeholder=field.label %}
                        <div class="invalid-feedback">
                            {% for error in field.errors %}<span>{{ error }}</p>{% endfor %}
                        </div>
                    {% else %}
                        {% render_field field class="form-control" placeholder=field.label %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <hr>
        {% for field in profile_form %}
            <div class="form-group row mb-2">
                <label class="col-sm-4 col-form-label text-secondary fst-italic" 
                       for="{{ field.id_for_label }}">
                    {{ field.label }}</label>
                <div class="col">
                    {% if field.errors %}
                        {% render_field field class="form-control is-invalid" placeholder=field.label%}
                        <div class="invalid-feedback">
                            {% for error in field.errors %}<span>{{ error }}</span>{% endfor %}
                        </div>
                    {% else %}
                        {% render_field field class+="form-control" placeholder=field.label %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default border" data-bs-dismiss="modal">
            <i class="bi bi-x-lg me-2"></i>Close
        </button>
        <button type="submit" class="btn btn-info"><i class="bi bi-person-plus"></i> Enregistrer</button>
    </div>
</form>
