{% load widget_tweaks %}

<form id="userEditForm" action="" method="POST"
      data-form-url='{% url "accounts:edit_profile" user.id %}'>
    {% csrf_token %}

    <div class="modal-header">
        <h5 class="modal-title">Modification Utilisateur</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div><!--End of header card-->

    <div class="modal-body">
        <div id="formErrors" class="alert alert-danger mt-2" style="display: none;"></div>
        {% for field in user_form %}
            <div class="form-group row mb-2">
                <label class="col-sm-4 col-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="col">
                    {% render_field field class="form-control" %}
                </div>
            </div>
        {% endfor %}
        {% for field in profile_form %}
            <div class="form-group row mb-2">
                <label class="col-sm-4 col-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="col">
                    {% render_field field class+="form-control" %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-info"><i class="bi bi-pencil-edit"></i> Confirm</button>
    </div><!--End of footer card-->
</form>
