{% extends "magasin/base.html" %}
{% load widget_tweaks %}

{% block title %}Manage Users{% endblock %}

{% block content %}

{% for msg in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<div class="container">

    <!-- Title -->
    <h2 class="alert alert-dark my-4 fst-italic rounded text-center shadow shadow-lg">
        Gérer les utilisateurs
    </h2>
    
    <!-- ALERT DIV and Main Buttons -->   
    <div id="usersAlert" class="alert alert-info alert-dismissible d-none" role="alert"></div>

    <!-- Add user button -->   
    <a id="createUserBtn" class="btn btn-success float-end mb-2 mt-2" href="#" 
       data-form-url="{% url 'accounts:create_user' %}" >
        <i class="bi bi-person-plus-fill"></i> Nouvel Utilisateur
    </a>

<table class="table table-bordered table-hover main_table">
    <!-- Main Table -->
    <thead class="table-success">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Job</th>
            <th scope="col">Groupe</th>
            <th scope="col">Last Login</th>
            <th scope="col">Operations</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr id="user-row-{{ user.id }}"
                class="">
                <th scope="row">{{ user.date_joined|date:"d-m-Y" }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <!--Comment prix unitaire-->
                <td>{{ user.profile.poste_travaille }}</td>
                <td class="{% if user.profile.groupe == 'admin' %}text-info{% endif %}">
                    {{ user.profile.groupe }}
                </td>
                <td >{{ user.last_login|date:"d/m/Y" }}</td>

                <td class="text-center">
                    <!-- Operations buttons-->
                    <!-- Read User -->
                    <button class="readUserBtn btn btn-sm btn-outline-primary" 
                            data-form-url="{% url "accounts:read_profile" user.id %}"
                            data-bs-toggle="tooltip" data-bs-placement="bottom" title="Détail">
                        <i class="bi bi-person-lines-fill"></i>
                    </button>
                    <!-- SuperUser -->
                    
                    {% if request.user.profile.groupe == 'admin' %}
                    <!-- Update User -->
                    <a class="editUserBtn btn btn-sm btn-outline-info" 
                       data-form-url="{% url "accounts:edit_profile" user.id %}"
                       data-bs-toggle="tooltip" data-bs-placement="bottom" title="Modifier">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <!-- Change User Group -->
                    <button class="changeUserGroupBtn btn btn-sm btn-outline-warning" 
                            data-form-url="{% url "accounts:change_user_group" user.id %}"
                            data-bs-toggle="tooltip" data-bs-placement="bottom" 
                                title="Changér le groupe 
                                {% if user.profile.groupe == 'admin' %}Other{% else %}Admin{% endif %}">
                        <i class="bi bi-star"></i>
                    </button>
                    
                    <!-- Delete User -->
                    <button class="deleteUserBtn btn btn-sm btn-outline-danger" data-item-id="{{ user.id }}"
                            data-bs-toggle="tooltip" data-bs-placement="bottom" title="Supprimé">
                        <i class="bi bi-person-dash-fill"></i>
                    </button>
                    {% endif %} <!-- endif for checking user group -->
                </td><!-- end of operation td -->
            </tr><!-- end of table row-->
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
