{% extends "magasin/base.html" %}
{% load widget_tweaks %}

{% block title %}Manage Users{% endblock %}

{% block content %}

{% for msg in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<div class="container">

    <!-- Title -->
    <h2 class="alert alert-dark my-4 fst-italic rounded text-center shadow shadow-lg">
        Gérer les utilisateurs
    </h2>
    
    <!-- ALERT DIV and Main Buttons -->   
    <div id="usersAlert" class="alert alert-info alert-dismissible d-none" role="alert"></div>

    <!-- Search, Add user button -->   
    <a id="createUserBtn" class="btn btn-primary float-end mb-2 mt-2" href="#" data-form-url="{% url 'accounts:add_user' %}">
        <i class="bi bi-person-plus-fill"></i> Nouvel Utilisateur
    </a>

<table class="table table-bordered table-hover main_table">
    <!-- Main Table -->
    <thead class="table-success">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Job</th>
            <th scope="col">Groupe</th>
            <th scope="col">Last Login</th>
            <th scope="col">Operations</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr class="{% if user.profile.groupe == 'admin' %}table-secondary{% endif %}" id="user-row-{{ user.id }}">
                <th scope="row">
                    <a class="text-decoration-none" href="" 
                       data-toggle="tooltip" data-placement="bottom" title="{{ artcile.designation }}">
                        {{ user.id }}
                    </a>
                </th>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <!--Comment prix unitaire-->
                <td>{{ user.profile.poste_travaille }}</td>
                <td >{{ user.profile.groupe }}</td>
                <td >{{ user.last_login|date:"d M Y" }}</td>

                <td class="text-center">
                <!-- Operations buttons-->
                    <!-- SuperUser -->
                    {% if request.user.profile.groupe == 'admin' %}
                    <!-- Read User -->
                    <button class="readUserBtn btn btn-sm btn-outline-primary" 
                            data-form-url="{% url "accounts:read_profile" user.id %}">
                        <i class="bi bi-person-lines-fill"></i>
                    </button>
                    <!-- Update User -->
                    <a class="editUserBtn btn btn-sm btn-outline-info" 
                       data-form-url="{% url "accounts:edit_profile" user.id %}">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <!-- Delete User -->
                    <button class="deleteUserBtn btn btn-sm btn-outline-danger" data-item-id="{{ user.id }}">
                        <i class="bi bi-person-dash-fill"></i>
                    </button>

                    {% else %}
                    <button type="button" id="read-article" class="bs-modal btn btn-sm btn-outline-primary" 
                            data-form-url="">
                        <i class="bi bi-person-lines-fill"></i> Details
                    </button>
                    {% endif %} <!-- endif for checking user group -->
                </td><!-- end of operation td -->
            </tr><!-- end of table row-->
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
