{% extends "magasin/base.html" %}
{% load widget_tweaks %}

{% block title %}Fournisseur List {% endblock %}

{% block content %}
<div class="container">

<!-- Main display -->
<h2 class="alert alert-dark my-5 fst-italic rounded text-center shadow">
    Gérer les fournisseurs
</h2>
<div id="fournisAlert" class="alert alert-info alert-dismissible d-none" role="alert"></div>
<!-- Display Messages -->
{% for msg in messages %}
    <div id="fournisAlert" class="alert alert-info alert-dismissible fade show" role="alert">
        {{ msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
{% endfor %}

<div class="row mb-3">
    <!-- Search form-->
    <div class="col-md-9">
        <form class="row row-cols-lg-auto align-items-center" action="" method="post">
            {% csrf_token %}
            <div class="col-12">
                <div class="input-group">
                    <div class="input-group-text"><i class="bi bi-search"></i></div>
                    {% render_field search_form.search_word placeholder="Recherche..." %}
                </div>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-outline-primary"><i class="bi bi-search"></i></button>
            </div>
        </form>
    </div>

    <div class="col-md-3 my-2">
        {% if request.user.profile.groupe == 'admin' %}
            <button type="button" id="createFournissBtn" 
                    class="btn btn-success float-end" 
                    data-form-url="{% url "fournisseur:create_fournis" %}">
                <i class="bi bi-person-plus me-1"></i> Ajoutér 
            </button>
        {% endif %}
    </div>
</div><!-- end of search row -->

<!-- Table -->
<div class="main-table" id="article_table">
    <table class="table table-bordered table-hover main_table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Addresse</th>
                <th scope="col">Fourniture</th>
                <th scope="col">C-Post</th>
                <th scope="col">Pays</th>
                <th scope="col">Tel</th>
                <th scope="col">Fax</th>
                <th scope="col">Email</th>
                <th scope="col">Note</th>
                <th scope="col">Opération</th>
            </tr>
        </thead>
        <tbody>
            {% for fourniss in fourniss_list %}
                <tr id="fourniss-row-{{ fourniss.fourrnis_id }}">
                    <th scope="row">
                        <a class="text-decoration-none" href="{% url "fournisseur:fourniss_detail" fourniss.fourrnis_id %}">
                            {{ fourniss.nom|upper }}
                        </a>
                    </th>
                    <td>{{ fourniss.address|truncatechars:20 }}</td>
                    <td>{{ fourniss.fourniture|truncatechars:20 }}</td>
                    <td>{{ fourniss.code_postal }}</td>
                    <td>{{ fourniss.pays }}</td>
                    <td>{{ fourniss.telephone }}</td>
                    <td>{{ fourniss.fax }}</td>
                    <td>{{ fourniss.email|truncatechars:15 }}</td>
                    <td>{{ fourniss.note }}</td>
                    <td>
                        <div class="btn-group">
                            <!-- Read Fournisseur -->
                            <button type="button" id="read-article" 
                                    class="readFournisBtn btn btn-sm btn-outline-primary" 
                                    data-form-url="{% url "fournisseur:read_fournis" fourniss.fourrnis_id %}">
                                <i class="bi bi-eye"></i>
                            </button>
                            
                            {% if request.user.profile.groupe == 'admin' %}
                            <!-- Update Fourniss -->
                            <button class="editFournissBtn btn btn-sm btn-outline-info" 
                                    data-form-url="{% url "fournisseur:update_fourniss" fourniss.fourrnis_id %}">
                                    <i class="bi bi-pencil-square"></i>
                            </button>
                            
                            <!-- Delete Article -->
                            <button type="button" class="deleteFournissBtn btn btn-sm btn-outline-danger" 
                                    data-item-id="{{ fourniss.fourrnis_id }}">
                                <i class="bi bi-trash"></i>
                            </button>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div><!--End of main table div-->

</div><!-- end of container>
{% endblock %}
