{% extends "magasin/base.html" %}
{% load static %}
{% load fontawesome %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Articles{% endif %}
{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col col-md-6">
        <h2 class="text-center mb-3">Fournisseur Details</h2>

        <div class="card mb-5">
            <h5 class="card-header bg-secondary text-center text-white">{{ fourniss_detail.nom }}</h5>

            <div class="card-body art_details">
                <div class="row">
                    <h3 class="col col-md-4 my-3">Nom</h3>
                    <h3 class="col my-3">: {{ fourniss_detail.nom }}</h3>
                </div>

                <div class="row">
                    <p class="col col-md-4">Address</p>
                    <p class="col">: {{ fourniss_detail.address }}</p>
                </div>

                <div class="row">
                    <p class="col col-md-4">Fourniture</p>
                    <p class="col">: {{ fourniss_detail.fourniture }}</p>
                </div>

                <div class="row">
                    <p class="col col-md-4">Code Postal</p>
                    <p class="col">: {{ fourniss_detail.code_postal }}</p>
                </div>

                <div class="row">
                    <p class="col col-md-4">Pays</p>
                    <p class="col">: {{ fourniss_detail.pays }}</p>
                </div>

                <div class="row">
                    <p class="col col-md-4">Telephone</p>
                    <p class="col">: {{ fourniss_detail.telephone }}</p>
                </div>
                
                <div class="row">
                    <p class="col col-md-4">Fax</p>
                    <p class="col">: {{ fourniss_detail.fax }}</p>
                </div>

                <div class="row">
                    <p class="col col-md-4">Email</p>
                    <p class="col">: {{ fourniss_detail.email }}</p>
                </div>

                <div class="row">
                    <p class="col col-md-4">Note</p>
                    <p class="col">: {{ fourniss_detail.note }}</p>
                </div>


                {% comment %}
                <div class="text-center">
                    {% if request.user.is_superuser %}
                        <a href="{% url "magasin:entree" article.art_id article.slug %}" class="btn btn-info">
                            {% fontawesome_icon 'plus-square-o' %} Entree
                        </a>

                        <a href="{% url "magasin:sortie" article.art_id article.slug %}" class="btn btn-warning">
                            {% fontawesome_icon 'minus-square-o' %} Sortie
                        </a>
                    {% endif %}

                    {% if movement %}
                        <a href="{% url "magasin:movement_article" article.art_id %}" class="btn btn-success">
                            {% fontawesome_icon 'exchange' %} Movement
                        </a>
                    {% endif %}

                    {% if history %}
                        <a href="{% url "magasin:magasin_log_article" article.art_id %}" class="btn btn-secondary">
                            {% fontawesome_icon 'history' %} Historique
                        </a>
                    {% endif %}
                </div>
                {% endcomment %}

            </div><!--End of card body-->
        </div><!--End of card-->
    </div><!-- End of col-->
</div><!--End of row-->
{% endblock %}
